@font-face{
    font-family: 'FuturaPTHeavy';
    src: url('../fonts/FuturaPTHeavy.otf');
}

@font-face{
    font-family: 'FuturaPTBook';
    src: url('../fonts/FuturaPTBook.otf');
}

@font-face{
    font-family: 'FuturaPTDemi';
    src: url('../fonts/FuturaPTDemi.otf');
}

@font-face{
    font-family: 'FuturaPTBookOblique';
    src: url('../fonts/FuturaPTBookOblique.otf');
}

@font-face{
    font-family: 'FuturaPTBoldOblique';
    src: url('../fonts/FuturaPTBoldOblique.otf');
}

/* main blocks */
main {
    background: url("../images/main-bg.jpg") 0 0 no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    color: #fff;
}

.inner {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
    text-align: center;
}

.about, footer {
    background: #151d29;
}
.about {
    opacity: .8;
    margin: auto;
    width: 100%;
}

.about .inner {
    padding-top: 66px;
    padding-bottom: 25px;
    font-family: 'FuturaPTHeavy', Arial, Helvetica, sans-serif;
}

.about .inner-text {
    margin: 45px 0 77px;
}

footer .inner {
    padding-top: 15px;
    padding-bottom: 15px;
    font: 16px 'FuturaPTBookOblique', Arial, Helvetica, sans-serif;
}

footer {
    opacity: .5;
}

footer h5 {
    font: 16px 'FuturaPTBoldOblique', Arial, Helvetica, sans-serif;
}

footer .copyright {
    margin-top: 25px;
    font-size: 12px;
    font-family: 'FuturaPTBook', Arial, Helvetica, sans-serif;
}
/* text elements */

h1 {
    font-size: 0;
    margin: 0 auto;
}

h2 {
    font-size: 58px;
}

h2 + span {
    font-size: 20px;
}

.about .inner-text p {
    font-family: 'FuturaPTBook', Arial, Helvetica, sans-serif;
    font-size: 26px;
    margin-top: 18px;
    line-height: 32px;
}

.about .mail {
    font-size: 22px;
    color: #fff;
    text-decoration: none;
    cursor: default;
}


@media screen and (max-width: 1380px) {

    h2 {
        font-size: 38px;
    }

    h2 + span {
        font-size: 15px;
    }

    .about .inner-text p {
        font-size: 18px;
        line-height: 22px;
    }

    .about .mail {
        font-size: 16px;
    }

    .about .inner-text {
        margin: 40px 0 65px;
    }

    h1 img{
        width: 290px;
    }
}

@media screen and (max-width: 980px) {

    footer .inner,
    footer h5 {
        font-size: 14px;
    }

    .about .inner {
        padding-top: 30px;
        padding-bottom: 15px;
    }

    h1 img {
        width: 250px;
    }

    h2 {
        font-size: 33px;
    }

    .about .inner-text p {
        font-size: 16px;
        line-height: 20px;
    }

    .about .inner-text {
        margin: 35px 0 45px;
    }

    .about .mail {
        font-size: 14px;
    }
}

@media screen and (max-width: 980px) {

    .about .inner-text {
        margin: 25px 0 35px;
    }

    h2 {
        font-size: 28px;
    }

    .about .inner-text p {
        font-size: 14px;
        line-height: 18px;
    }
}